<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CEGUIBase Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CEGUICommonDialogs Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CEGUICoreWindowRendererSet Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CEGUIExpatParser Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CEGUIFreeImageImageCodec Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CEGUILibXMLParser Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CEGUIOpenGLRenderer Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Candy Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Candy iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A13E1BAE1D8E912F0097E85B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13E1BB81D8E93FB0097E85B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F7FFB1DB714F60080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F80031DB7151E0080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F82211DB71D4E0080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F82311DB71E740080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F82421DB724190080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F824A1DB724520080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F82641DB725F30080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F82E51DB7486B0080AFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19F452F1DB63E5700E908D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
